aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
anyio==4.14.2
attrs==26.1.0
audioop-lts==0.2.2
CacheControl==0.14.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
cryptography==50.0.0
firebase==4.0.1
firebase_admin==7.5.0
frozenlist==1.8.0
google-api-core==2.33.0
google-auth==2.56.2
google-cloud-core==2.6.0
google-cloud-firestore==2.28.0
google-cloud-storage==3.13.0
google-crc32c==1.8.0
google-resumable-media==2.10.0
googleapis-common-protos==1.75.0
grpcio==1.83.0
grpcio-status==1.83.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
msgpack==1.2.1
multidict==6.7.1
nextcord==3.2.0
packaging==26.3
pathlib==1.0.1
propcache==0.5.2
proto-plus==1.28.2
protobuf==7.35.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.13.0
requests==2.34.2
setuptools==83.0.0
typing_extensions==4.16.0
urllib3==2.7.0
wheel==0.47.0
yarl==1.24.5
